@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  // overflow: hidden;
  line-height: 1;
  font-family: 'Poppins'; // , 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(20, 20, 31, 0);
  // overflow: hidden !important;
  &::backdrop {
    background-color: #448;
  }
  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}

// html,
// body,
// .app {
//   // width: 100%;
//   // height: 100%;
// }

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  // font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  // font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  //   Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0d152e;
  text-align: left;
  // background: #f9f9fc;
  // background-color: #f6f7f9;
}

@mixin transition-mixin {
  transition: 1s;
}

// .tw-dark {}

.ellipsis {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
}

// .anim-batch {
//   will-change: transform;
//   opacity: 0;
// }

/* selection */
::selection {
  background: rgba(255, 109, 91, 0.99);
  color: #fff;
}
::selection:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}

// .main-title::-moz-selection {
//   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
//     1px 1px 0 #000;
//   background: transparent;
// }
// .main-title::selection {
//   text-shadow: none;
//   -webkit-text-stroke: 1px #000;
//   background: transparent;
// }

.min-w-200px {
  min-width: 200px;
}
.max-w-200px {
  max-width: 200px;
}
.max-w-400px {
  max-width: 400px;
}

.w-444px {
  width: 444px;
}
.basis-333px {
  flex-basis: 333px;
}
.basis-400px {
  flex-basis: 400px;
}
.min-w-400px {
  min-width: 400px;
}

.min-w-500px {
  min-width: 500px;
}

.gray-shadow-1 {
  box-shadow: 20px 20px 20px 0px #f0f2f8;
}
.bg-gradient-blue-1 {
  background: rgb(0, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 0) 0%,
    rgba(54, 114, 255, 0.784284661130077) 61%,
    rgba(54, 114, 255, 0.9411474062281162) 96%
  );
}

.bg-gradient-orange-1 {
  background: rgb(255, 17, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 0) 0%,
    rgba(223, 153, 48, 0.784) 61%,
    #FF6939
  );
}
.topic-title {
  @apply tw-font-semibold tw-text-5xl tw-leading-tight;
}
.topic-description {
  @apply tw-text-gray-2 tw-font-medium tw-leading-7;
}
