@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  // overflow: hidden;
  line-height: 1;
  font-family: 'Poppins'; // , 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(20, 20, 31, 0);
  // overflow: hidden !important;
  &::backdrop {
    background-color: #448;
  }
  // @media (max-width: 768px) {
  //   font-size: 0.85714rem;
  // }
}

// html,
// body,
// .app {
//   // width: 100%;
//   // height: 100%;
// }

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  // font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  // font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  //   Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0d152e;
  text-align: left;
  // background: #f9f9fc;
  // background-color: #f6f7f9;
}

@mixin transition-mixin {
  transition: 1s;
}

// .tw-dark {}

.ellipsis {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
}

// .anim-batch {
//   will-change: transform;
//   opacity: 0;
// }

/* selection */
::selection {
  background: rgba(255, 109, 91, 0.99);
  color: #fff;
}
::selection:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}

// .main-title::-moz-selection {
//   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
//     1px 1px 0 #000;
//   background: transparent;
// }
// .main-title::selection {
//   text-shadow: none;
//   -webkit-text-stroke: 1px #000;
//   background: transparent;
// }

.min-w-200px {
  min-width: 200px;
}

.min-h-400px {
  min-height: 400px;
}
.max-w-200px {
  max-width: 200px;
}
.max-w-400px {
  max-width: 400px;
}

.w-444px {
  width: 444px;
}
.h-444px {
  height: 444px;
}
.basis-333px {
  flex-basis: 333px;
}
.basis-400px {
  flex-basis: 400px;
}
.basis-444px {
  flex-basis: 444px;
}
.min-w-400px {
  min-width: 400px;
}

.min-w-500px {
  min-width: 500px;
}
.h-510px {
  height: 510px;
}

.gray-shadow-1 {
  box-shadow: 20px 20px 20px 0px #f0f2f8;
}
.bg-gradient-blue-1 {
  background: rgb(0, 255, 255);
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 255, 255, 0) 0%,
  //   rgba(54, 114, 255, 0.784284661130077) 61%,
  //   rgba(54, 114, 255, 0.9411474062281162) 96%
  // );
  background: linear-gradient(180deg, rgba(55, 114, 255, 0) 0%, #3772ff 100%);
}

.bg-gradient-orange-1 {
  background: rgb(255, 17, 0);
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 255, 255, 0) 0%,
  //   rgba(223, 153, 48, 0.784) 61%,
  //   #ff6939
  // );
  background: linear-gradient(180deg, rgba(255, 105, 57, 0) 0%, #ff6939 100%);
}
.topic-title {
  // here is font-size: 48px
  // 32px 48px 48px
  @apply tw-font-semibold  tw-leading-tight tw-text-3.5xl md:tw-text-5xl;
}
.topic-description {
  // here is font-size: 16px
  // 14px - 16px - 16px
  @apply tw-text-gray-2 tw-font-medium tw-leading-7 tw-text-sm md:tw-text-base;
}

.topic-title-28px {
  // 22px - 28px - 28px
  @apply tw-font-semibold tw-leading-tight tw-text-1.5xl md:tw-text-2.7xl;
}

.anim-500 {
  @apply tw-transition-all tw-ease-in-out tw-duration-500;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.px-80px-48px-16px {
  // todo fix
  @apply tw-px-4 md:tw-px-12 lg:tw-px-14 xl:tw-px-18 2xl:tw-px-20;
}
.px-160px {
  // todo fix
  @apply tw-px-4 md:tw-px-20 lg:tw-px-28 xl:tw-px-36 2xl:tw-px-40;
}

.btn-h-48-56 {
  // todo fix
  @apply tw-h-14 lg:tw-h-12;
}
.my-120-80 {
  // todo reverse
  @apply tw-my-20 md:tw-my-26 lg:tw-my-30;
}
.py-80px-104px-120px {
  // 80px - 104px - 120px
  @apply tw-py-20 md:tw-py-26 lg:tw-py-30;
}

.gap-40px-16px {
  // todo reverse
  @apply tw-gap-4 md:tw-gap-7 lg:tw-gap-9 xl:tw-gap-10;
}

.basis-full-full-half {
  @apply tw-basis-full md:tw-basis-full lg:tw-basis-1/2;
}
.wrap-wrap-nowrap {
  @apply tw-flex-wrap md:tw-flex-wrap lg:tw-flex-nowrap;
}

.mt-16px-24px-24px {
  @apply tw-mt-4 lg:tw-mt-6;
}

.mt-16px-24px-0 {
  @apply tw-mt-4 md:tw-mt-6 lg:tw-mt-0;
}

.h-56px-48px-48px {
  // for buttons height
  @apply tw-h-14 md:tw-h-12;
}

.block-bg-img {
  // hide hide show
  @apply tw-hidden xl:tw-inline-block;
}

.my-160px-240px-240px {
  @apply tw-my-40 xl:tw-my-60
}